
[Unit]
Description= Reset moonboard service
After=multi-user.target 

[Service]
User=pi
Type=idle
ExecStart=/usr/bin/python3 /home/pi/moonboard/reset_button.py

[Install]
WantedBy=multi-user.target
